In [24]:
import pandas as pd
import numpy as np
import pystache
import matplotlib.pyplot as plt
import sqlalchemy as sql
import sqlalchemy.orm as orm
from sqlalchemy.ext.declarative import declarative_base

%matplotlib inline

# Define MySQL database

In [25]:
metadata = sql.MetaData()
Base = declarative_base(metadata=metadata)

port = 7777
db = sql.create_engine("mysql://gea:gea@127.0.0.1:{}/GeneExpressionAging".format(port))
db.echo = False
Session = orm.sessionmaker()
metadata.create_all(db)
Session.configure(bind=db)

# Copy gene data from CSV to SQL

In [26]:
BASE = "/Users/heltena/Dropbox/Aging Map Paper/datasets/general/webpage/v180105/"

In [27]:
df_meta = pd.read_csv(BASE + "df_meta.csv")
df_meta.columns.values[0] = "name"

session = Session()
session.execute("""DROP TABLE IF EXISTS api_meta;""")
session.commit()

df_meta.fillna(0).to_sql('api_meta', db)

session = Session()
session.execute("""
ALTER TABLE api_meta MODIFY name CHAR(30);
ALTER TABLE api_meta DROP COLUMN `index`;
ALTER TABLE api_meta ADD PRIMARY KEY (name);
ALTER TABLE api_meta MODIFY age INTEGER;
ALTER TABLE api_meta MODIFY age_unit CHAR(5);
ALTER TABLE api_meta MODIFY mouse_id INTEGER;
ALTER TABLE api_meta MODIFY pfu INTEGER;
ALTER TABLE api_meta MODIFY replicate_id INTEGER;
ALTER TABLE api_meta MODIFY tissue CHAR(22);
ALTER TABLE api_meta MODIFY experimental_batch INTEGER;
""")
session.commit()
session.close()

In [28]:
df_counts = pd.read_csv(BASE + "df_counts.csv")

session = Session()
session.execute("""
DROP TABLE IF EXISTS api_counts;
""")
session.commit()
session.close()

df_counts.to_sql('api_counts', db)    # From CSV to SQL

session = Session()
session.execute("""
ALTER TABLE api_counts MODIFY gene_ensembl CHAR(22);
ALTER TABLE api_counts DROP COLUMN `index`;
ALTER TABLE api_counts ADD PRIMARY KEY (gene_ensembl);
""")
session.commit()
session.close()

In [29]:
session = Session()
session.execute("""DROP TABLE IF EXISTS api_genes;""")
session.commit()
session.close()

df_genes = pd.read_csv(BASE + "df_genes.csv", dtype=str)
df_genes.to_sql('api_genes', db)

session = Session()
session.execute("""
ALTER TABLE api_genes CHANGE `index` `id` BIGINT(20) NULL DEFAULT NULL;
ALTER TABLE api_genes MODIFY `id` INTEGER NOT NULL;
ALTER TABLE api_genes MODIFY gene_ensembl CHAR(22);
ALTER TABLE api_genes MODIFY Chr CHAR(22);
ALTER TABLE api_genes MODIFY Start INTEGER;
ALTER TABLE api_genes MODIFY End INTEGER;
ALTER TABLE api_genes MODIFY Length INTEGER;
ALTER TABLE api_genes MODIFY Strand CHAR(10);
ALTER TABLE api_genes MODIFY gene_ncbi INTEGER;
ALTER TABLE api_genes MODIFY symbol_ncbi CHAR(22);
ALTER TABLE api_genes MODIFY genes_with_same_ensembl INTEGER;
ALTER TABLE api_genes MODIFY genbank_validated_rna_cg DOUBLE;
ALTER TABLE api_genes MODIFY genbank_validated_rna_length INTEGER;
""")
session.commit()
session.close()

In [30]:
session = Session()
session.execute("""DROP TABLE IF EXISTS api_tissue;""")
session.commit()
session.close()

df_meta = pd.read_csv(BASE + "df_meta.csv")
df_meta.columns.values[0] = "name"

tissues = list(df_meta["tissue"].drop_duplicates())
df_tissues = pd.DataFrame(dict(
    id=range(len(tissues)), 
    name=sorted(tissues)))
df_tissues.to_sql('api_tissue', db)

session = Session()
session.execute("""
ALTER TABLE api_tissue MODIFY `id` INTEGER NOT NULL;
ALTER TABLE api_tissue DROP COLUMN `index`;
ALTER TABLE api_tissue ADD PRIMARY KEY (id);
ALTER TABLE api_tissue MODIFY `name` CHAR(22);
""")
session.commit()
session.close()

In [31]:
session = Session()
session.execute("""DROP TABLE IF EXISTS api_age;""")
session.commit()
session.close()

df_meta = pd.read_csv(BASE + "df_meta.csv")
df_meta.columns.values[0] = "name"

ages = list(df_meta["age"].drop_duplicates())
df_ages = pd.DataFrame(dict(
    id=range(len(ages)),
    name=sorted(ages)))
df_ages.to_sql('api_age', db)

session = Session()
session.execute("""
ALTER TABLE api_age MODIFY `id` INTEGER NOT NULL;
ALTER TABLE api_age DROP COLUMN `index`;
ALTER TABLE api_age ADD PRIMARY KEY (id);
ALTER TABLE api_age MODIFY `name` CHAR(22);
""")
session.commit()
session.close()

In [32]:
session = Session()
session.execute("""DROP TABLE IF EXISTS api_pfu;""")
session.commit()
session.close()

df_meta = pd.read_csv(BASE + "df_meta.csv")
df_meta.columns.values[0] = "name"

pfus = list(df_meta["pfu"].drop_duplicates())
df_pfus = pd.DataFrame(dict(
    id=range(len(pfus)),
    name=sorted(pfus)))
df_pfus.to_sql('api_pfu', db)

session = Session()
session.execute("""
ALTER TABLE api_pfu MODIFY `id` INTEGER NOT NULL;
ALTER TABLE api_pfu DROP COLUMN `index`;
ALTER TABLE api_pfu ADD PRIMARY KEY (id);
ALTER TABLE api_pfu MODIFY `name` CHAR(22);
""")
session.commit()
session.close()

In [33]:
session = Session()
session.execute("""DROP TABLE IF EXISTS api_experimentalbatch;""")
session.commit()
session.close()

df_meta = pd.read_csv(BASE + "df_meta.csv")
df_meta.columns.values[0] = "name"

experimentalbatchs = list(df_meta["experimental_batch"].drop_duplicates())
df_experimentalbatchs = pd.DataFrame(dict(
    id=range(len(experimentalbatchs)),
    name=sorted(experimentalbatchs)))
df_experimentalbatchs.to_sql('api_experimentalbatch', db)

session = Session()
session.execute("""
ALTER TABLE api_experimentalbatch MODIFY `id` INTEGER NOT NULL;
ALTER TABLE api_experimentalbatch DROP COLUMN `index`;
ALTER TABLE api_experimentalbatch ADD PRIMARY KEY (id);
ALTER TABLE api_experimentalbatch MODIFY `name` CHAR(22);
""")
session.commit()
session.close()

#  Generate Django Model code

In [12]:
template = """
from django.db import models


##
## DON'T TOUCH THIS FILE!!
##


class Counts(models.Model):
    {{index_name}} = models.CharField(max_length=22, primary_key=True)
    {{#columns}}
    {{.}} = models.FloatField(null=True)
    {{/columns}}


class Genes(models.Model):
    gene_ensembl = models.CharField(max_length=22)
    Chr = models.CharField(max_length=22)
    Start = models.IntegerField()
    End = models.IntegerField()
    Length = models.IntegerField()
    Strand = models.CharField(max_length=10)
    gene_ncbi = models.IntegerField()
    symbol_ncbi = models.CharField(max_length=22)
    type_of_gene = models.TextField()
    nomenclature_status = models.TextField()
    genes_with_same_ensembl = models.IntegerField()
    genbank_validated_rna_length = models.IntegerField()
    genbank_validated_rna_cg = models.FloatField()
    has_validated_protein_coding_RNA = models.TextField()
    has_publication = models.TextField()
    present_in_genbank_info = models.TextField()


class Meta(models.Model):
    name = models.CharField(max_length=30, primary_key=True)
    age = models.FloatField()
    age_unit = models.TextField()
    mouse_id = models.FloatField()
    pfu = models.FloatField()
    replicate_id = models.FloatField()
    tissue = models.TextField()
    is_specimen = models.IntegerField()
    run_name = models.TextField()
    harvest_date = models.TextField()
    experimental_batch = models.IntegerField()
    clotted = models.IntegerField()
    died_during_intubation = models.IntegerField()
    tumor = models.IntegerField()
    I7_Index_ID = models.TextField()
    I5_Index_ID = models.TextField()
    run_id = models.IntegerField()
    orig_sample_name = models.TextField() 


class Age(models.Model):
    name = models.CharField(max_length=22)

class Pfu(models.Model):
    name = models.CharField(max_length=22)

class ExperimentalBatch(models.Model):
    name = models.CharField(max_length=22)

class Tissue(models.Model):
    name = models.CharField(max_length=22)
"""

parsed = pystache.parse(template)
renderer = pystache.Renderer()

columns = list(df_counts.columns.values)
s = renderer.render(parsed, {
    "index_name": columns[0],
    "columns": columns[1:]})

with open("../webapp/api/models.py", "wt") as f:
    f.write(s)